$black: #000;
$blue-dodger: #007bff;
$yellow-tangerine: #fc0;
$white: #fff;
$miss-cheries-dark-grey: #d2d1ce;
$miss-cheries-light-grey: #ebeae7;
$miss-cheries-menu-grey: #d2d2d2;
$miss-cheries-logos-grey: #a8a7a5;
$miss-cheries-pink: #ea014d;
