body {
  & > footer {


    .social-links {
      @include media-breakpoint-down(md) {

        margin-top: -3.5rem;
      }

      background-color: $miss-cheries-dark-grey;
      padding: 3rem;
    }

    .social-media {

      @include media-breakpoint-down(md) {

        margin-top: 2rem;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 3rem;
      padding-right: 3rem;

      a {
        color: $miss-cheries-logos-grey;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {

          color: $miss-cheries-pink;
        }
      }
    }

    .title-newsletter-main {

      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .description-newsletter-main {

      font-size: .8rem;
      text-align: center;
      text-wrap: wrap;
      word-wrap: break-word;
    }

    .input-form {

      border-color: $black;
      border-left: 0;
      border-radius: 0%;
      border-right: 0;
      border-top: 0;
    }

    .black-box-div {

      background-color: $black;
      border: 0;
      color: $white;
      padding-left: .5rem;
      padding-right: .5rem;
      text-transform: uppercase;

    }

    .promotion-div {

      background-color: $miss-cheries-light-grey;
      position: relative;
      z-index: -1;

      .promotion-desc {

        display: flex;
        font-size: .8rem;
        justify-content: center;
        text-align: center;
        text-wrap: wrap;
      }
    }

    .img-overlap {

      @include media-breakpoint-up(md) {

        padding-left: 5rem;
        padding-right: 5rem;
      }
      display: flex;
      justify-content: center;
      margin-top: -.7rem;
      padding: 0;
      position: relative;
      z-index: -1;
    }

    .promotion-overlap {

      display: flex;
      justify-content: center;
      margin-top: -.7rem;
    }

    .insta-handle {

      font-size: 2rem;
      text-transform: uppercase;
    }


    .footer-nav {

      @include media-breakpoint-up(md) {

        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0;
      }

      align-items: center;
      background-color: $miss-cheries-dark-grey;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: 3rem;
      padding-inline-start: 0;
      padding-left: 0;
      padding-top: 3rem;

      a {

        color: $black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .slogans-div {
      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-around;

      }
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
      text-transform: uppercase;
    }
  }
}
