body {
  & > footer {

    .social-media-div {

      background-color: $miss-cheries-dark-grey;
    }

    .social-media {

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        color: $miss-cheries-logos-grey;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {

          color: $miss-cheries-pink;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .social-links {

        margin-top: -3.5rem;
      }
    }

    .title-newsletter-main {

      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .description-newsletter-main {

      font-size: .8rem;
      text-align: center;
      text-wrap: wrap;
      word-wrap: break-word;
    }

    .input-form {

      border-color: $black;
      border-left: 0;
      border-radius: 0%;
      border-right: 0;
      border-top: 0;
    }

    .black-box-div {

      background-color: $black;
      border: 0;
      color: $white;
      padding-left: .5rem;
      padding-right: .5rem;
      text-transform: uppercase;

    }

    .promotion-div {

      background-color: $miss-cheries-light-grey;
      position: relative;
      z-index: -1;

      .promotion-desc {

        display: flex;
        font-size: .8rem;
        justify-content: center;
        text-align: center;
        text-wrap: wrap;
      }
    }

    .img-overlap {

      margin-top: -.7rem;
      position: relative;
      z-index: -1;
    }

    .promotion-overlap {

      margin-top: -.7rem;
    }

    .insta-handle {

      font-size: 2rem;
      text-transform: uppercase;
    }


    .footer-nav {

      align-items: center;
      background-color: $miss-cheries-dark-grey;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: 3rem;
      padding-top: 3rem;

      a {

        color: $black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    @include media-breakpoint-up(md) {

      .footer-nav {

        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0;

        a {

          color: $black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
