body {
  .black-box-div {

    background-color: $black;
    border: 0;
    color: $white;
    padding-left: .5rem;
    padding-right: .5rem;
    text-transform: uppercase;

  }

  .module-categories {

    .category-rows {

      display: flex;
      flex-direction: row;
      justify-content: center;


      .category {

        box-shadow: 0 4px 8px 0 $miss-cheries-dark-grey, 0 6px 20px 0 $miss-cheries-dark-grey;
        margin: 2rem;

        a {

          text-decoration: none;
        }

        .category-image {

          max-width: 12rem;
        }

        .category-name {
          background-color: $white;
          display: flex;
          flex-direction: row;
          font-size: .8rem;
          justify-content: center;
          padding-bottom: .2rem;
          padding-top: .2rem;
        }
      }
    }
  }

  .background-div {

    position: absolute;
    top: 67rem;
    z-index: -10;
  }


}
